//carousel
.carousel-item.active {
  img {
    height: 800px;
  }
}


@media (min-width: 100px)and(max-width: 675px) {
  .carousel-item.active {
    img {
      height: auto;
    }
  }
}

// content

.show-wrapper {
  display: flex;
  justify-content: space-around;


}

.show-container {
  padding: 20px;
  flex-grow: 1;
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
}

.show-img {
  padding: 20px;

  img {
   height: 600px;
   position: sticky;
   border: 6px solid;
   border-radius: 6px;
 }


}
