.restaurant-wrapper {
  display: flex;
  justify-content: space-around;
}

#map {
  width: 100%;
  height: 90vh;
  position: sticky;
  top:0px;
}

.restaurant-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  z-index: 3;
}


@media (min-width: 100px)and(max-width: 668px) {
  .restaurant-wrapper {
    display: block;
  }

  .restaurant-container {
    display: block;
  }

}

@media (min-width: 669px)and(max-width: 1000px) {

  .restaurant-wrapper {
    display: block;
  }
  .restaurant-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    z-index: 3;
  }
}


@media (min-width: 1001px)and(max-width: 1025px) {

  .restaurant-wrapper {
    display: block;
  }
  .restaurant-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    z-index: 3;
  }
}


