.review-wrapper {
  width: 90%;
  margin: 0 auto;
}

.review-container {
  display: flex;
  justify-content: space-between;
}


.review-title {
  display: flex;
  justify-content: space-around;

  h3 {
     font-size: 12px;
     font-weight: bold;
     color: grey;
  }
  img {
    width: 65px;
    border-radius: 50%;
    border: 3px solid;
    border-color: white;
    margin-bottom: 0px;
  }
}


.review-time {
  color: grey;
  font-size: 12px;

}


.review-content {

  color: grey;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  h2 {
    font-size: 14px;

  }

  i {
    margin-top: 0px;
    font-size: 10px;
    color: #eaa81b;
  }
}
