.cards-container {
  padding: 10px;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
  }
  h2 {
    color: grey;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    &:hover {
      color: black;
    }
  }

  img {
    width: 250px;
    height: 200px;
  }
}
