.cards-container {
  a {
    text-decoration: none;
  }
  h2 {
    color: grey;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    &:hover {
      color: black;
    }
  }

  img {
    width: 100%;
    height: 200px;
  }
}
